<mat-toolbar [color]="color" class="container">

    <a>Let's Purchase</a>
    <span class="example-spacer"></span>

    <ng-container *ngIf="!isUserLoggedIn">
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
    </ng-container>
    <ng-container *ngIf="isUserLoggedIn">
        <a routerLink="/products">home</a>
        <a [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseenter)="menuTrigger.openMenu()">{{userName}}</a>

        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <nav class="nav-link" (mouseleave)="menuTrigger.closeMenu()">
                <a (click)="updateProfile()">Update Profile</a>
                <a routerLink="user/my-address">My Address</a>
                <a routerLink="resetpassword">Change Password</a>
                <a (click)="logout()">Logout</a>
            </nav>
        </mat-menu>
    </ng-container>
</mat-toolbar>