<div class="container page-container">
    <div fxLayout="row" class="intro">
        <div fxFlex="100%">
            <mat-carousel timings="250ms ease-in" [autoplay]="true" [interval]="interval" color="accent" maxWidth="auto" [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false">
                <mat-carousel-slide *ngFor="let slide of slides; let i = index" [image]="slide"></mat-carousel-slide>
            </mat-carousel>
            <hr>
        </div>
    </div>

    <span *ngIf="isNocategory" class="no-item"> No category Available</span>

    <div *ngIf="!isNocategory" fxLayout="row wrap" fxLayoutGap="16px grid">

        <div fxFlex="20%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let category of categories">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ category.name }}
                        <hr>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image class="card-image" mat-card-image [src]="category.url">
                <hr>
                <mat-card-actions>
                    <button mat-button (click)="explorecategories(category.name)">Explore</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>