<div class=" page-container">

    <div style="text-align: center;">
        <span class="title">{{category}}</span>
        <hr>
    </div>
    <div class="container" fxLayout="row wrap" fxLayoutGap="16px grid">

        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="25%" fxFlex.sm="50%" *ngFor="let product of products">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{ product.name }}
                        <hr>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image class="card-image" mat-card-image [src]="product.url">

                <mat-card-content>
                    PRICE: <strong>Rs. {{product.price}}</strong>
                </mat-card-content>
                <hr>
                <mat-card-actions>
                    <button mat-button (click)="addToCart(product._id)">Add to Cart</button>
                    <button mat-button (click)="exploreproduct(product._id)">More Details</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>